/*czyszczenie ustawień przeglądarki*/
* {
margin: 0;
padding: 0;
}

/*ustawienie ogólne dla ciała dokumentu*/
body {
font-family: 'Liu Jian Mao Cao', cursive;
font-size: 100%;
background-color: #666;
color: "white";

}
h2{
margin-left: -16px;
padding: 10px;
font-size: 200%;
font-weight: normal;
background-color: #ffc;
width: 150px;

}
ul {
list-style-type: none;
overflow: hidden;
padding: 3em;
}

ul li {	
float: left; 
}

ul li h2 {
font-size: 200%;
font-weight: bold;
padding-bottom: 10px;

}

ul li a { 
 text-decoration: none;  
 color: #000; 
 
 background-image: url("zdj1.jpg");
 display: block; 
 height: 560px;  
 width: 360px;  
 padding: 1em;  

 box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
/*dodanie cienia*/  
 transform: rotate(-6deg); 
/*dołożenia łagodnego przejścia, kiedy najeżdżamy myszką na karteczkę
zastosowane do właściwości transform - przeskalowanie, bo transform w hover*/
transition: transform .15s linear;
 /*dodanie rotacji*/ } 
 ul li:nth-child(even) a{
transform: rotate(4deg);
position: relative;
top: 5px;
background-color: #cfc;
}

ul li:nth-child(3n) a {
transform: rotate(-3deg);
position: relative;
top: -5px;
background-color: #ccf;
}

ul li:nth-child(5n) a {
transform: rotate(-6deg);
position: relative;
top: 10px;
}

ul li:nth-child(2) a {
 background-image: url("zdj2.jpg");
 height: 360px;  
 width: 560px; 
}
ul li:nth-child(3) a {
 background-image: url("zdj3.jpg");
 height: 360px;  
 width: 560px; 
}
ul li:nth-child(4) a {
 background-image: url("zdj4.jpg");
 height: 360px;  
 width: 560px;
 left: -200px;
}
ul li:nth-child(5) a {
 background-image: url("zdj5.jpeg");
 height: 360px;  
 width: 560px; 
 
 left: -100px;
}
ul li:nth-child(6) a {
 background-image: url("zdj6.jpeg");
 height: 360px;  
 width: 560px; 
 top: -600px;
 left: 500px;
 
}
/* dodanie reakcji na najechanie myszą - powiększenie */
ul li a:hover {
box-shadow: 10px 10px 7px rgba(0,0,0,.7);
transform: scale(1.15); /*przeskalowanie - powiększenie*/
position: relative;
z-index: 1; 
}

 

 